body{
    background-color: navy;
    background: url("../images/b_image.jpg") no-repeat;
    background-size: 1950px 970px
}

#account-body{
    background-color: lightskyblue;
    width: 50%;
    position: absolute;
    left: 26%;
    top: 18%;
    opacity: 0.9
}

#flight_add_btn{
    background-color: navy;
    color: gold;
    border: none
}
#flight_add_btn:hover{
    opacity: 0.8
}
#pay_completed{
    background-color: navy;
    color: gold;
    border: none
}
#pay_completed:hover{
    opacity: 0.8
}

#f-label{
    color: gold
}

#f-control{
    color: navy
}

#f-option{
    background-color: navy;
    color: goldenrod
}

#checkbox{
    margin-left: 82%;
    margin-top: 2%
}